doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
    script(src='/javascripts/jquery-1.8.3.min.js')
    script(src='/javascripts/backbone/lib/underscore-min.js')
    script(src='/javascripts/backbone/lib/backbone-min.js')
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/do.js')
